[defaults]
inventory = ./inventory
roles_path = ./roles
interpreter_python = auto_silent
bin_ansible_callbacks = True
deprecation_warnings = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout = 86400
log_path = /var/log/ansible-setup.log
display_args_to_stdout = False
display_skipped_hosts = False

[privilege_escalation]
become = True
become_method = sudo
